


@media (max-width: 1199px){
    section{
	    width:800px;
              }
    .logo h3 {
        font-size: 18px;
                }        
    .logo h5 {
    font-size: 13px;
            }
    nav ul li a {
    padding: 5px 12px;
    font-size: 13px;
             }
    .banner-section h1 {
    font-size: 45px;
                }
    .explore-section div h1 {
    font-size: 46px;
                }
    
}


@media (max-width: 991px){
section{
	 width:700px;
         }
}






@media (max-width: 767px){
section{
	 width:500px;
       }

.logo {
    width: 100%;
    text-align: center;
}
nav {
    width: 100%;
}
nav ul li a {
    padding: 5px 8px;
    font-size: 12px;
}
nav ul {
    justify-content: center;
}

.logo h3 {
    font-size: 22px;
}
.logo h5 {
    font-size: 15px;
}
.banner-section h1 {
    font-size: 35px;
}
.italy {
    font-size: 20px;
}
.event-img h3 {
    font-size: 19px;
}
.explore-section div {
    width: 100%;
}
.text h2 {
    font-size: 24px;
}
.text p {
    font-size: 11px;
    line-height: 1.6;
}
.img1 img {
    height: 140px;
}
.img4 img {
    height: 140px;
}
.img2 img {
    height: 240px;
}.img3 img {
    height: 240px;
}

.text a {
    font-size: 10px;
}
.footer-section p {
    font-size: 13px;
}
.footer-section .copyright {
    font-size: 10px;
}



}



@media (max-width: 575px) {
section{
	     width:100%;
              }
.logo {
    width: 66%;
    margin: auto;
}

nav {
    width: 100%;
}
.logo {
    width: 66%;
    margin: auto;
}
.banner-section {
    text-align: left;
    margin-left: 30px;
    padding: 100px 0px;
}
.quote p {
    font-size: 12px;
    width: 300px;
}
.quote span {
    font-size: 10px;
    margin-top: 6px;
    margin-right: 50px;
}
.banner-section h1 {
    line-height: 0;
     font-size: 22px;
}
.event-img p {
    font-size: 13px;
    line-height: 1.5;
}
.banner-quote-section {
    text-align: center;
    width: 95%;
}
.event-img {
    width: 100%;
}
.event-section h2 {
    font-size: 24px;
}








}










@media (max-width: 320px){
      section{
	     width:100%;
              }

}
